[data-theme="light"] {
    --color-primary: #cc785c;
    --color-secondary: #5db8a6;
    --color-tertiary: #e8a55a;
    --color-text: #141413;
    --color-text-offset: #6c6a64;
    --color-background: #faf9f5;
    --color-background-offset: #f5f0e8;
    --color-surface: #efe9de;
    --color-border: #e6dfd8;
}

[data-theme="dark"] {
    --color-primary: #cc785c;
    --color-secondary: #5db8a6;
    --color-tertiary: #e8a55a;
    --color-text: #faf9f5;
    --color-text-offset: #a09d96;
    --color-background: #181715;
    --color-background-offset: #252320;
    --color-surface: #1f1f1b;
    --color-border: #2d2a26;
}
