[data-theme="light"] {
    --color-primary: #9bdc28;
    --color-secondary: #7b61ff;
    --color-tertiary: #25c7bc;
    --color-text: #010920;
    --color-text-offset: #4a5568;
    --color-background: #ffffff;
    --color-background-offset: #f4f7ef;
    --color-surface: #f8faf4;
    --color-border: rgb(1 9 32 / 14%);
}

[data-theme="dark"] {
    --color-primary: #9bdc28;
    --color-secondary: #a99bff;
    --color-tertiary: #47d7cf;
    --color-text: #f8faf4;
    --color-text-offset: #cad2c5;
    --color-background: #010920;
    --color-background-offset: #10182c;
    --color-surface: #151f35;
    --color-border: rgb(248 250 244 / 16%);
}
