---
import AppLayout from "@layouts/AppLayout.astro";
import { author } from "@data/socials";
import Bio from "@components/Bio.jsx";
import Link from "@components/Link.astro";
---

<AppLayout
  title="About Me"
  description="I am Ravi Teja Rapolu a Passionate Computer Science Graduate"
  ogImage={{
    src: "/image/about.png",
    alt: "About Me",
  }}
  pubDate={new Date()}
  tags={["about"]}
>
  <section class="flex flex-col mb-8">
    <h1
      class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
    >
      {author}
    </h1>
    <p class="mb-4 dark:text-zinc-300 text-zinc-700 flex items-center">
      I am Ravi Teja Rapolu a Passionate Computer Science Graduate
    </p>

    <Bio client:load />

  </section>
  <Link
        href={import.meta.env.BASE_URL}
        text="Read My Thought Log &rarr;"
        addClass="animate-text bg-gradient-to-r from-teal-500 via-blue-500 to-red-500 bg-clip-text text-transparent font-black"
      />

  <section class="mt-5 sm:mt-10" aria-labelledby="section-title">
    <h2
      class="dark:text-zinc-300 text-zinc-700 mb-4 text-2xl font-bold tracking-tight"
      id="section-title"
    >
      About Me
    </h2>
    <section>
      <p
        class="text-justify font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 leading-relaxed mt-4"
      >
        So, here's the thing about me: I started out thinking I'd be all about
        circuits and wires, you know, electronics. But then I stumbled into
        programming, and it was like, 'Whoa, this is way cooler!' I ended up
        taking every computer science elective I could get my hands on.
      </p>
      <p
        class="text-justify font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 leading-relaxed mt-4"
      >
        Fast forward a bit, and I landed at Oracle. That's where I really got a
        taste of the big leagues. complex systems, huge teams, the whole
        shebang. It hit me then: there's just so much to learn in computer
        science. Tinkering with those massive systems sparked a real hunger to
        dive deeper.
      </p>
      <p
        class="text-justify font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 leading-relaxed mt-4"
      >
        That's why I decided to go back to school and get my master's. Now, I'm
        at GW, knee-deep in computer science, and honestly, I'm loving every
        minute of it. It's like I'm finally getting to explore all the things I
        was always curious about. So, yeah, that's my story so far. Just a geek
        who followed his curiosity, and ended up here.
      </p>
  </section>
</AppLayout>
