---
import { Icon } from "astro-icon";
---

<footer
  class="flex flex-row items-center text-zinc-400 mt-7 justify-center h-16 w-full gap-5 sticky bottom-0 pb-10 bg-inherit"
>
  <a
    href="/blog/"
    class="text-zinc-200 hover:text-zinc-500  hover:opacity-60"
    title="Home"
    rel="noopener noreferrer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-10 h-10 "
      viewBox="0 0 48 48"
      ><g fill="none"
        ><path fill="url(#fluentColorHome480)" d="M18.067 27h12v16h-12z"
        ></path><path
          fill="url(#fluentColorHome481)"
          d="M26.461 7.855a3.78 3.78 0 0 0-4.787 0L8.499 18.597a3.91 3.91 0 0 0-1.432 3.031v17.485C7.067 41.26 8.78 43 10.892 43h8.175V30.5a2.5 2.5 0 0 1 2.5-2.5h5a2.5 2.5 0 0 1 2.5 2.5V43h8.175c2.113 0 3.825-1.74 3.825-3.887V21.628a3.91 3.91 0 0 0-1.43-3.031z"
        ></path><path
          fill="url(#fluentColorHome482)"
          fill-rule="evenodd"
          d="m24.068 9.329l-16 13.215a2.054 2.054 0 0 1-2.852-.262a1.956 1.956 0 0 1 .267-2.794L22.28 5.628a2.83 2.83 0 0 1 3.523-.024l16.805 13.588a1.957 1.957 0 0 1 .307 2.79a2.054 2.054 0 0 1-2.848.3z"
          clip-rule="evenodd"></path><defs
          ><linearGradient
            id="fluentColorHome480"
            x1={24.067}
            x2={13.481}
            y1={27}
            y2={44.65}
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="#944600"></stop><stop
              offset={1}
              stop-color="#cd8e02"></stop></linearGradient
          ><linearGradient
            id="fluentColorHome481"
            x1={10.313}
            x2={45.173}
            y1={5.24}
            y2={32}
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="#ffd394"></stop><stop
              offset={1}
              stop-color="#ffb357"></stop></linearGradient
          ><linearGradient
            id="fluentColorHome482"
            x1={17.817}
            x2={25.308}
            y1={0.725}
            y2={22.452}
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="#ff921f"></stop><stop
              offset={1}
              stop-color="#eb4824"></stop></linearGradient
          ></defs
        ></g
      ></svg
    >
  </a>
  <a
    href="https://github.com/rapo7"
    class="text-zinc-200 hover:text-zinc-500 hover:opacity-60"
    title="Github"
    rel="noopener noreferrer"
  >
    <Icon name="logos:github-octocat" class="w-10 h-10" />
  </a>
  <a
    href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=ravi-teja-r-55b184167"
    class="text-zinc-200 hover:text-zinc-500 hover:opacity-60"
    title="Follow me on LinkedIn"
    rel="noopener noreferrer"
  >
    <Icon name="logos:linkedin-icon" class="w-10 h-10 hover:opacity-60" />
  </a>
  <!-- Blue Sky Social -->
  <a
    href="https://bsky.app/profile/ravitejarapo.bsky.social"
    target="_blank"
    class="text-zinc-200 hover:text-zinc-500 hover:opacity-60"
    title="Blue Sky Social"
    rel="noopener noreferrer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-10 h-10"
      viewBox="0 0 256 226"
      ><path
        fill="#1185fe"
        d="M55.491 15.172c29.35 22.035 60.917 66.712 72.509 90.686c11.592-23.974 43.159-68.651 72.509-90.686C221.686-.727 256-13.028 256 26.116c0 7.818-4.482 65.674-7.111 75.068c-9.138 32.654-42.436 40.983-72.057 35.942c51.775 8.812 64.946 38 36.501 67.187c-54.021 55.433-77.644-13.908-83.696-31.676c-1.11-3.257-1.63-4.78-1.637-3.485c-.008-1.296-.527.228-1.637 3.485c-6.052 17.768-29.675 87.11-83.696 31.676c-28.445-29.187-15.274-58.375 36.5-67.187c-29.62 5.041-62.918-3.288-72.056-35.942C4.482 91.79 0 33.934 0 26.116C0-13.028 34.314-.727 55.491 15.172"
      ></path></svg
    >
  </a>
  <a
    href="/blog/about/"
    class="text-zinc-200 hover:text-zinc-500 hover:opacity-60"
    title="About me"
    rel="noopener noreferrer"
  >
    <Icon name="cib:about-me" class="w-10 h-10" />
  </a>
</footer>
