---
import Link from "./Link.astro";
---

<nav
  class="sticky top-0 z-10 lg:backdrop-blur-lg bg-zinc-900 bg-opacity-90 lg:bg-opacity-50 py-4 px-6 lg:px-0"
>
  <ul class="flex justify-center space-x-4 text-sm">
    <li>
      <Link
        href={import.meta.env.BASE_URL + "/"}
        text="My Thought Log - Ravi Teja Rapolu"
        addClass="animate-text bg-gradient-to-r from-teal-500 via-blue-500 to-red-500 bg-clip-text text-transparent text-5xl font-black text-xl"
      />
    </li>
  </ul>
</nav>
