---
import Footer from "../components/layouts/Footer";
import ChatFAB from "../components/sections/blog/ChatFab";

import "../styles/index.css";
import { ClientRouter, fade } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body
    class="h-full flex flex-col overflow-x-hidden bg-default
		text-default text-base selection:bg-secondary"
  >


    <section class="flex-grow" transition:animate={fade({ duration: "0.4s" })}>
      <slot />
    </section>
    <Footer client:load/>
    <ChatFAB client:load />
    <script>
      document.addEventListener("astro:page-load", () => {

          const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)"
          ).matches;

          document.documentElement.dataset.theme = prefersDark
            ? "dark"
            : "light";

          window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", (event) => {
              if (!localStorage.getItem("theme")) {
                document.documentElement.dataset.theme = event.matches
                  ? "dark"
                  : "light";
              }
            });
      });
    </script>
  </body>
</html>
